<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>TrackMeChain</h1>
      </ion-col>
    </ion-row>
    <ion-row class="margin-minus-bottom-20">
      <ion-col class="ion-text-center">
        <p>
          La forma más fácil de mantener informada 
          la ciudadanía sobre las amenzasas 
          biológicas modernas
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="margin-minus-bottom-20">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="ion-text-center">
                  <h2>Datos del Registro</h2>
                </ion-col>
              </ion-row>
              <ion-row class="padding-x-10">
                <ion-col>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Nick</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
              </ion-row>
              <ion-row class="padding-x-10">
                <ion-col size="12">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Teléfono</mat-label>
                    <input matInput>
                  </mat-form-field>
                </ion-col>
                <ion-col size="12">
                  <mat-checkbox color="primary">Acepto términos y condiciones</mat-checkbox>
                </ion-col>
              </ion-row>
              <ion-row> 
                <ion-col class="ion-text-center">
                  <div class="center-i">
                    <ion-fab-button (click)="register()">
                      <ion-icon name="checkmark-outline"></ion-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <p>
          Realiza seguimiento a la cadena de contactos 
          con los cuales compartiste en los últimos días, 
          con el fin de evaluar con antelación su estado de 
          salud y evitar que se convierta en un agente 
          propagador. Más información ...
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <a 
          target="_blank"
          href="https://trackmechain.org/" 
        >
        trackmechain.org
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        Copyrigth &copy; Safesociety 2020
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
