<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h1>TrackMeChain</h1>
      </ion-col>
    </ion-row>
    <ion-row class="margin-minus-bottom-20">
      <ion-col class="ion-text-center">
        <p>
          Hola {{userName}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="margin-minus-bottom-20">
      <ion-col class="ion-text-center">
        <p>
         Gracias por usar la forma más fácil de mantener informada la ciudadanía sobre las amenazas biológicas modernas
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-img src="assets/icon/shooter.svg" class="icon-shooter center-img"></ion-img>
        <br>Enviar ubicación
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-toggle color="primary" mode="ios"></ion-toggle>
        <p>Enciende esta opción para enviar información de forma automática</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        Copyrigth &copy; Safesociety 2020
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
